<%- include('../layouts/header.ejs') %>

  <form action="/login" method="post" class="w-75 p-3 mx-auto d-block">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input 
        class="form-control <%= validationErrors.find(e => e.param === 'email') ? 'invalid' : '' %>"
        type="email" 
        name="email" 
        id="exampleInputEmail1" 
        value="<%= oldInput.email %>"
        aria-describedby="emailHelp" 
        required>
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input class="form-control <%= validationErrors.find(e => e.param === 'password') ? 'invalid' : '' %>"
          type="password" 
          name="password" 
          id="exampleInputPassword1" 
          value="<%= oldInput.password %>"
          required>
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
    <% if(errorMessage != null){ %>
    <p class="alert alert-danger mt-4" role="alert"><%= errorMessage %></p>
    <% } %>
  </form>

<%- include('../layouts/footer.ejs') %>


